/* HELP WINDOW */

#helpDialog {
	background-color: #8CC1DF; /* LIGHT BLUE - SIMULATE 50% OPACITY */
	border: 4px solid #8CC1DF; /* LIGHT BLUE - SIMULATE 50% OPACITY */
	border-width: 4px 0 0 4px;
	overflow: hidden;
	padding: 0 5px 5px 0;
	position: fixed;
	_position: absolute;
	z-index: 1000;
	-moz-border-radius-topleft:17px;
	-webkit-border-radius-topleft:17px;
	} 
	#helpDialogContent {
		clear:both;
	}

	#helpDialog .controls {
		height: 30px;
		position: absolute;
		width: 100%;
		z-index: 1;
		}
	
		#helpDialog .controls #helpCloseButton,
		#helpDialog .controls #helpMinimizeButton {
			color:#005588; /* iCONTACT BLUE */
			font-size:10px;
			position: absolute;
			text-decoration:none;
			text-transform:uppercase;
			}
			
			#helpDialog .controls #helpCloseButton {
				right: 5px;
				}
			
			#helpDialog .controls #helpMinimizeButton {
				right: 55px;
				}
	
	#helpDialog .ui-tabs-nav {
		float: left;
		z-index: 2;
		}
	
	#helpDialogContent .ui-tabs-panel {
		padding: 0;
		}
		
	#helpDialogContent iframe {
		border-top:1px solid #CFE7F4; /* VERY LIGHT BLUE */
		margin:0;
		padding:0;
		width: 100%;
		}

#helpDialog .ui-tabs .ui-tabs-nav li a {
	color:#005588; /* iCONTACT BLUE */
	font-family:"Trebuchet MS",arial,helvetica;
	font-style:italic;
	padding: .4em 1em;
	}
	
	#helpDialog .ui-tabs .ui-tabs-nav,
	#helpDialog .ui-tabs-nav li a {
		padding:0;
		}
	
#helpDialog .ui-widget-content,
#helpDialog .ui-widget-header {
	background:none;
	border:0;
	}

#helpDialog .ui-corner-top {
	-moz-border-radius-topleft:17px;
	-moz-border-radius-topright:17px;
	-webkit-border-radius-topleft:17px;
	-webkit-border-radius-topright:17px;
	}

#helpDialog .ui-state-default {
	border:0;
	}
	
	#helpDialog .ui-state-default,
	#helpDialog .ui-widget-content .ui-state-default {
		background:#E6E6E6 url(../images/helpTabBack.png) 50% 50% repeat-x;
		border:0;
		}
	
	#helpDialog .ui-state-active,
	#helpDialog .ui-widget-content .ui-state-active {
		background:#E6E6E6 url(../images/helpTabFront.png) 50% 50% repeat-x;;
		border:0;
		}
		
#helpDialog.ui-state-disabled {
	filter:Alpha(Opacity=65);
	opacity:0.65;
	}

#helpDialogCover {
	position: absolute;
		left: -9999px;
		top: 0;
	}

div#profileList {
	background: #ffd url(../images/bg_tabs.png) no-repeat 4px -948px; /* See globalIE6.css */
	border: 1px solid #ccc;
	margin: 10px auto 0;
	padding: 3px 4px 6px 48px;
	width: 170px;
	}
	#divTabMenu div#profileList {
		display: inline; /* IE6 */
		float: right;
		clear: right;
		margin: 14px 12px 0 0;
		}
	div#profileList input,
	div#profileList select {
		display: inline;
		margin: 0;
		}
		div#profileList select {
			width: 120px;
			}
			#divTabMenu div#profileList select {
				width: 100%;
				}
	div#profileList label {
		color: #333;
		font-size: 12px;
		margin: 0;
		}

#divNewFeatures {
	background: url(../images/icons/bg_icons_16.png) no-repeat 5px 5px;
	height: 21px;
	}
	#divNewFeatures a {
		display: block;
		margin: 3px 0 1px 5px;
		padding: 0 0 0 21px;
		text-decoration: none;
		}
		#divNewFeatures a:hover {
			text-decoration: underline;
			}
		#divNewFeatures a.highlight {
			background: none;
			}

div.ColumnContainer {
	clear: both;
	}
	div.ColumnContainer label {
		margin-top: 0;
		}

/* old system event styles */
div.systemEvent {
	background-color: #FF8;
	background-image: url(../images/icons/alarm_32.png);
	background-position: 6px 8px;
	background-repeat: no-repeat;
	border: 1px solid #CCC;
	clear: both;
	margin: 15px 0 20px;
	padding: 6px 23px 10px 45px;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}
	div.systemEvent h4 {
		font-family:'Trebuchet MS','Nimbus Sans L',Arial,Helvetica,sans-serif;
		color: #000;
		font-weight: bold;
		margin: 0; 
		}
	div.systemEvent h4 em {
		margin:0;
		}
	div.systemEvent p {
		color: #000;
		margin: 0;
		}
		.closeSystemEvent {
			cursor: pointer;
			position: absolute;
				right: 10px;
				top: 10px;
			}

div.systemEventSoon {
	background-color: #900;
	color: #FFF;
	}
	div.systemEventSoon h4 {
		color: #FFF;
		font-weight: bold;
		}
	div.systemEventSoon p {
		color: #FFF;
		margin: 0;
		}

/* Notification Event Frame (frame around free-form system events) */
.notificationEventWrapper {
	margin: 15px 0 20px;
	position: relative;
	}
/* End Notification Event Frame */

.messaging div {
	margin:0 0 10px 0;
	position:relative;
	}
	.messaging div p {
		border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		font:normal 12px/15px 'Trebuchet MS',Arial,Helvetica,sans-serif;
			color:#fff;
		margin:0;
		padding:5px 7px 5px 25px;
		position:relative;
		z-index:2;
		}
		.messaging div p a {
			color:#fff;
		}
		.messaging div.busy p {
			background:#226599 url(../images/thinking_blue.gif) no-repeat 5px 5px;
			}
		.messaging div.info p {
			background:#226599 url(../images/thinking_done.png) no-repeat 5px 5px;
			}
		.messaging div.error p {
			background:#992c22 url(../images/compose/alertIcon_white.png) no-repeat 5px 5px;
			}
			#updateMissingInfo.messaging div.error p {
				background-position:5px 50%;
				}
		.messaging div.error button {
			background:#742119;
			border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			border: none;
			color:#fff;
			cursor: pointer;
			display:inline;
				vertical-align:middle;
			font: normal normal normal 12px/15px 'Trebuchet MS';
			padding:3px 10px;
			margin:7px 4px 3px 0;
			}
			.messaging div.error button span {
				text-decoration: underline;
				}
			#updateMissingInfo button {
				background:#992c22;
				border-radius: 0;
					-moz-border-radius: 0;
					-webkit-border-radius: 0;
				margin: 0;
				padding: 0;
				}
		.messaging div p img {
			display:inline;
			margin:0 5px 0 0;
			vertical-align:middle;
			}
	.messaging span.border {
		background:#d9d9d9;
		border-radius: 8px;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
		opacity: .5;
			filter: alpha(opacity=50); /* IE 5 - 7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
		position:absolute;
			bottom:-3px;
			left:-3px;
			right:-3px;
			top:-3px;
			z-index:1;
		}
